BasedOnStyle: WebKit
BreakBeforeBraces: Attach
SortIncludes: false
IncludeBlocks: Preserve
AlignAfterOpenBracket: DontAlign
IndentWidth: 4
PointerAlignment: Left
DerivePointerAlignment: false
ColumnLimit: 100
